<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="https://img.icons8.com/metro/452/cat.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<main>
  <h1>Всё для собак</h1>
</main>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>