<div th:fragment="footer">
    <div class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вернуться наверх</font></font></a>
            </p>
            <p class="mb-1"><font style="vertical-align: inherit;"><font class="" style="vertical-align: inherit;">Вы достигли конца страницы. Поверьте, наверху больше интересного. </font></font></p>
            <p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2020–2021 ООО «KOTIK». Все права защищены. Кто бы меня защитил так... </font></font></p>
        </div>
    </div>
</div>